input {
  margin: 1rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2rem;
  background-color: #eee;
  color: #07c;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
